#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export DH_VERBOSE = 1
export VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

CONF=debian/tmp/etc/corosync/corosync.conf
CPPFLAGS = -UPCMK_TIME_EMERGENCY_CGT

%:
	dh $@ --with python3 $(UBUNTU_EXCLUDES)

override_dh_autoreconf:
	patch -p1 < debian/patches/cts-not-useful.patch
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-static \
		BASH_PATH=/bin/bash \
		PYTHON=/usr/bin/python3 \
		--with-brand=clusterlabs \
		--with-cibsecrets \
		--with-configdir=/etc/default \
		--libexecdir=/usr/lib

override_dh_auto_build-indep:
	dh_auto_build
	$(MAKE) -C doc doxygen
	rm doc/api/html/*.md5

override_dh_auto_test:

override_dh_install:
	rm -r	debian/tmp/usr/lib/*/lib*.la \
		debian/tmp/usr/share/doc/pacemaker/COPYING \
		debian/tmp/usr/share/doc/pacemaker/README.markdown \
		debian/tmp/usr/share/doc/pacemaker/licenses
	dh_install

override_dh_installdocs:
	dh_installdocs -A README.markdown

override_dh_installinit:
	dh_installinit --onlyscripts --no-restart-after-upgrade -p pacemaker
	dh_installinit --onlyscripts --no-restart-after-upgrade -p pacemaker-remote --name=pacemaker_remote

override_dh_installsystemd:
	dh_installsystemd --no-restart-after-upgrade

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/api
