#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export V=1
export DH_VERBOSE=1

CFLAGS=
CXXFLAGS=
CFLAGS_NO_WERROR=yes

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
VERSION_UPSTREAM = $(shell echo '$(DEB_VERSION_UPSTREAM)')

%:
	dh $@ --parallel --builddirectory=build/${DEB_HOST_MULTIARCH}

override_dh_autoreconf:
override_dh_update_autotools_config:

override_dh_auto_configure:
	dh_auto_configure --builddirectory=build/${DEB_HOST_MULTIARCH} -- \
		CC="gcc-7 -march=native" \
		--host=${DEB_HOST_GNU_TYPE} \
		--build=${DEB_HOST_GNU_TYPE} \
		--target=${DEB_HOST_GNU_TYPE} \
		--prefix=/opt/libc6-preload \
		--enable-werror=no \
        --enable-checking=no \
		--enable-languages=c,c++ \
		--enable-stack-protector=no \
		--enable-kernel=3.2
		--enable-static-pie \
		--disable-multi-arch \
		--with-pkgversion="GLIBC 2.xx" \

override_dh_auto_make:
	dh_auto_make --builddirectory=build/${DEB_HOST_MULTIARCH} -- -prefix=/opt/libc6-preload

override_dh_auto_clean:
	dh_auto_clean --builddirectory=build/${DEB_HOST_MULTIARCH}

override_dh_build:
	dh_build --builddirectory=build/${DEB_HOST_MULTIARCH}

override_dh_install:
	dh_install
	rm -rf $(CURDIR)/debian/libc6-preload/usr
	rm -rf $(CURDIR)/debian/libc6-preload/var
	rm -rf $(CURDIR)/debian/libc6-preload/etc
