#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export DH_VERBOSE = 1
export VERBOSE=1
export VERSION=3.0.3

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

# DEB_BUILD_OPTIONS+=nocheck
# DEB_BUILD_OPTIONS+=nostrip
# DEB_BUILD_OPTIONS+=noudeb
# DEB_BUILD_OPTIONS+=nodoc

CONF=debian/tmp/etc/corosync/corosync.conf

ifneq ($(wildcard /usr/include/statgrab.h),)
enable-monitoring=--enable-monitoring
endif

ifneq ($(wildcard /usr/include/linux/watchdog.h),)
enable-watchdog=--enable-watchdog
endif

ifneq ($(wildcard /usr/include/systemd/sd-daemon.h),)
enable-systemd=--enable-systemd
initscript-dir=usr/share/corosync
else
initscript-dir=etc/init.d
endif

%:
	dh $@

override_dh_autoreconf:
	echo $(VERSION) > .tarball-version
	test -f .gitarchivever && rm .gitarchivever || true
	test -f .version && rm .version || true
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
	    BASHPATH=/bin/bash \
	    --with-initconfigdir=/etc/default \
		--with-systemddir=/lib/systemd/system \
	    --with-logdir=/var/log/corosync \
	    --enable-dbus \
	    $(enable-monitoring) \
	    $(enable-watchdog) \
	    --enable-augeas \
	    --enable-nozzle \
	    --enable-snmp \
	    --enable-xmlconf \
	    $(enable-systemd) \
	    --enable-vqsim \
	    --disable-static

override_dh_auto_build:
	patch -p1 < debian/patches/Enable-PrivateTmp-in-the-systemd-service-files.patch
	patch -p1 < debian/patches/Make-the-example-config-valid.patch
	dh_auto_build
	$(MAKE) -C man
	$(MAKE) doxygen
	find doc/api/html -name "*.md5" -print -delete

override_dh_auto_install:
	dh_auto_install
	$(MAKE) -C man DESTDIR="$(CURDIR)/debian/tmp" install
	mv -v $(CONF).example $(CONF)
	rm -v debian/tmp/usr/lib/*/lib*.la
	rm debian/tmp/usr/share/doc/corosync/LICENSE

override_dh_missing:
	dh_missing --fail-missing

override_dh_gencontrol:
	debian/check_header_deps
	dh_gencontrol

# dwz fails with "Allocatable section in [...] after non-allocatable ones"
override_dh_dwz:

override_dh_auto_clean:
	test -f .gitarchivever && rm .gitarchivever || true
	test -f .version && rm .version || true
	test -f .tarball-version && rm .tarball-version || true
	dh_auto_clean
